/* c'est un calque de z-index:3, il sert uniquement a augmenter la priorité Z de ces enfants */
.mainc {
position:absolute;
top:0;
right:10%; 
left:10%; 
z-index:3;
border-style:none;
border-width:1px;
width:80%;
height:600px;
}
.contenu {	
position:absolute;
top:55%; 
left:10%; 
width:60%;
text-align:justify;
border-style:none;
border-width:1px;
border-color:black;
z-index:4;
padding:5px;
color:white;
font-size:1.1em;
font-family:arial, verdana;
}
.contenu a:link {
color:white;
cursor:help;
}
.titrecont {
font-size:1em;
}
/* menu "sites" */
.menuhd {	
position:absolute;
top:32%; 
left:73%; 
width:22%; 
text-align:center; 
z-index:4;
}
/* titre de menu */ 
.titre3 {
position:absolute;
background-color:#1C1D1B; 
width:100%; 
height:25px; 
top:0px;
right:0em;
left:0px;
border-bottom-style:solid;
border-bottom-width:1px;
border-color:black;
text-align:center;
font-weight:bold; 
font-size:1em;
} 
li {
/*list-style-type:none;*/
}

ul.menudeco  { 
font-weight:bold;
font-family:"Trebuchet MS",verdana,arial;
margin-left:auto;
margin-right:auto; 
/*padding:0;
margin-top:30px; */
list-style-type:none;
}
.menudeco a {
display:block;
padding:0;
margin:3px;
color:white;
text-decoration:none;
border-style:solid;
border-width:1px;
background-color:#8A4f0b;
border-color:black;
font-size:1em; 
height:1.3em;
width:180px;
color:white;
} 
.menudeco a:visited  {
color:white;
border-style:solid;
border-width:1px;
border-color:black;
background-color:#8A4f0b;
font-size:1em; 
}
.menudeco a:hover   {
color:white;
border-style:solid;
border-width:1px;
border-color:#8A4f0b;
background-color:transparent;
font-size:1em; 
}
.menudeco a:active {
color:white;
border-style:solid;
border-width:1px;
border-color:#8A4f0b;
background-color:transparent;
font-size:1em; 
}







	
	

